body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#three-canvas{
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}
#content{
  position: fixed;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  /* ba */
}
.loadingScreen{
  width: 100%;
  height: 100%;
  display: flex; 
  justify-content:center;
  align-items: center;
  flex-direction: column; 
  background-color: rgb(10, 14, 80); 
}
.pixel{
  width: 100%;
  height: 100%;
  background-color: white;
  animation: blink 5s infinite;
  opacity: 0.0;
}
@keyframes blink {
  0%{opacity: 0.0;}
  25%{opacity: 0.0;}
  50%{opacity: 0.5;}
  100%{opacity: 0.0;}
}
.pixel__container{
  display: grid;
  grid-template-columns: repeat(20,minmax(0,1fr));
  /* grid-template-rows: repeat(1fr,minmax(0,10)); */
  width: 100%;
  height: 100%;
}
.loadingScreen__buttons{
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 50%;
}
.loadingScreen__buttons > button{
  margin: 20px;
  padding: 10px 20px;
  cursor: pointer;
  font-family: 'VT323', monospace;
  font-size: 28px;
  border: 3px solid black;
}
.loadingScreen__buttons > button:hover{
  background-color: rgb(170, 175, 248);
  transform: scale(1.08,1.08);
}
